.login-header {
    background-color: transparent;
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

.login-header img {
    max-width: 100px;
    min-height: 115px;
    margin-left: -15px;
    padding: 25px 0 20px 0;
}

.gradient-login {
    background: linear-gradient(to bottom, #642B73 0%, #C6426E 100%);
}

body.keyboard-open .has-footer {
    bottom: 0;
}

.login-info p {
    color: #697072;
    text-align: left;
}

.login-h1 {
    color: white
}

.login-button {
    margin-top: 10px;
    margin-right: 20px;
}

.about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
}

.md,
.wp {
    .about-info [text-right] {
        margin-right: 0;
    }
}

.ios .about-info {
    text-align: center;
}

.ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
}