<ion-content>
        <div class="signup">
            <div class="logo">
                <img src="assets/img/releaf-logo-green2.png" alt="Releaf Logo"/>
                Releaf
            </div>
            <div class="content">
                <h3 class="text-center light m-b-lg">
                    Sign Up
                </h3>
                <div>
                    <div class="form-group m-b-xl">
                        <label>Company Name</label>
                        <input type="text"  [(ngModel)]="user.company_name" autofocus>
                    </div>
                    <div class="form-group m-b-xl">
                        <label>Email</label>
                        <input type="email"  [(ngModel)]="user.email">
                    </div>
                    <div class="form-group m-b-xl">
                        <label>WhatsApp Phone number</label>
                        <input type="text"  [(ngModel)]="user.phone_number">
                    </div>
                    <div class="form-group m-b-xl">
                        <label>Commodity you are Supplying (e.g. Maize, Yam)</label>
                        <input type="text"  [(ngModel)]="user.products">
                    </div>
                    <div class="form-group m-b-xl">
                        <label>Password</label>
                        <input type="password"  [(ngModel)]="user.password">
                    </div>
                    <div class="form-group m-b-xl">
                        <label>Confirm Password</label>
                        <input type="password"  [(ngModel)]="user.password2">
                    </div>
                    <div class="m-t-xl">
                        <button class="btn-green full m-b-lg bold" tappable (click)="register(user)">Sign up</button>
                        <button type="button" class="btn-flat full" (click)="goToLogin()">Have an account? Log in</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

<!-- <ion-content>
    <div padding class="login-info">
        <ion-item>
            <ion-label floating>Company Name</ion-label>
            <input type="text" [(ngModel)]="user.company_name">
        </ion-item>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <input type="text" [(ngModel)]="user.email">
        </ion-item>

        <ion-item>
            <ion-label floating>WhatsApp Phone number</ion-label>
            <input type="text" [(ngModel)]="user.phone_number">
        </ion-item>

        <ion-item>
            <ion-label floating>Commodity you are Supplying (e.g. Maize, Yam)</ion-label>
            <input type="text" [(ngModel)]="user.products">
        </ion-item>

        <ion-item>
            <ion-list>
                <ion-list-header>
                    Position in Value Chain (e.g. Production, Processing)
                </ion-list-header>
                <div *ngFor="let opt of value_chains">

                    <label>
                        <input type="checkbox" name="vm.selectedPositions[]" [value]="opt" [checked]="selection.indexOf(opt) > -1" (click)="toggleSelection(opt)" />
                        {{opt}}
                        </label>
                </div>
            </ion-list>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <input type="password" [(ngModel)]="user.password">
        </ion-item>

        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <input type="password" [(ngModel)]="user.password2">
        </ion-item>

        <ion-item>
            <ion-label>How did you find us ?</ion-label>
            <ion-select [(ngModel)]="user.found_us_via">
                <ion-option [value]="opt" *ngFor="let opt of found_us_options">{{opt}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="user.found_us_via === 'Other'">
            <ion-label>Please enter value ?</ion-label>
            <input type="text" [(ngModel)]="user.custom_found_us_via">
        </ion-item>
        <ion-fab center>
            <button tappable (click)="register(user)" ion-button outline>Create My Account</button>
            <div text-center style="background: white; width: 100%">
                <p> Already have an account ? </p>
                <button center class="login-button" tappable color="secondary" (click)="goToLogin()" ion-button full>Login</button>
            </div>

        </ion-fab>
    </div>

</ion-content> -->