$green: #81d76d;
$lightgray: #F5F5F5;
$lightergray: #fafafa;
$gray: #8e8e8e;
$gray2: #e0e0e0;
$darkgray: #535353;
$blue: #5387CB;

%no-outline{
  &:focus{
    outline: 0;
  }
}
%trans{
  transition: 0.4s;
}
%grad{
  background: linear-gradient(48.84deg, #81D76D -6.14%, #81D76D -6.13%, #80D66E 10.79%, #67B788 53.16%, #458CAB 88.93%, #2D6EC4 111.64%);
}
%grad2{
  background-image: linear-gradient(127.14335515224332deg, #009789 6.1%, #007fa2 62.6%, #007ea6 69.5%, #007cb2);
}
%shadow{
  box-shadow: 0 2px 10px rgba(0,0,0,.08);
}
%home{
    .content{
      padding: 20px 15px;
      background: $lightergray;
      height: 100vh;
  }
  .item{
      @extend %shadow;   
      height: 80px; 
      margin-bottom: 15px;
      border-radius: 5px;
      background: white;
  }
  img{
      height: 80px;
      width: 80px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .desc{
      padding: 10px 0;
  }
  p{
      word-wrap: break-word;
  }
  p:nth-child(1){
      font-size: 16px;
      font-weight: 500;
      color: $blue;
      margin-top: 5px;
  }
  p:nth-child(2){
      font-size: 13px;
      color: $gray;
  }
}

@mixin tour-mixin($logoPaddingTop, $logoColor, $logoFontSize, $logoImageHeight, $contentTextColor){

  .logo{
    padding-top: $logoPaddingTop;
    color: $logoColor;
    font-size: $logoFontSize;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
  
    img{
      height: $logoImageHeight;
    }
  }

  .waves{
    z-index: 0;
    position: absolute;
    bottom: 0;
  }
  .content{
    position: relative;
    z-index: 1;
    color: $contentTextColor;
  }
}


p, li{
  font-size: 14px;
}
a{
  text-decoration: none !important;
}

.normal{
  font-weight: 400;
}
.bold{
  font-weight: 500;
}
.light{
  font-weight: 300;
}
.thin{
  font-weight: 100;
}
.white{
  color: white;
}
.lightgray{
  color: $lightgray;
}
.green{
  color: $green;
}
span.green{
  cursor: pointer;
}
.gray{
  color: $gray;
}
.darkgray{
  color: $darkgray;
}
.no-top-marg{
  margin-top: 0;
}
.btn-flat{
  border: 0;
  padding: 0;
  background: transparent;
}
.btn-green{
  display: inline-block;
  background-color: $green;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  text-decoration: none !important;
  text-transform: uppercase;
  @extend %no-outline;
  @extend %trans;

  &:hover, &:visited{
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}
.btn-white{
  @extend .btn-green;
  background: white;
  color: $blue;
  font-family: 400;
  font-size: 16px;

  &:hover, &:visited{
    color: $blue;
  }
}
.btn-white-bd{
  @extend .btn-white;
  border: 1px solid $blue;
}
.full{
  width: 100%;
}
.bg{
  @extend %grad2;
  height: 160px;
  width: 100%;
  position: fixed;
  top: -44px;
}
.content{
  padding: 0 30px;
}
.app-menu{
  .content-md{
    background: $lightgray;
  }
  .menu-title{
    background: transparent;
    color: white;
  }
  .menu-content{
    position: relative;
    top: 116px;

    ul{
      list-style: none;
      margin: none;
      padding-left: 30px;
      padding-top: 30px;
    }

    li{
      padding: 15px 0;
      color: $blue;
      font-size: 16px;
    }
    span{
      padding-left: 15px;
    }
  }
  .btn-flat{
    margin-right: 10px;
  }
  h2{
    position: relative;
    top: 75px;
    text-align: center;
    color: white;
  }
}

// Ionic tag styles
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  background: transparent;
  border: 0;
}
.toolbar-background-md {
  background: transparent !important;
  border: 0 !important;
}
.toolbar-title-md{
  font-size: 18px !important;
}
.toolbar-content-md {
  position: absolute;
  width: 100%;
  text-align: center;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: white !important;
}
.toolbar-title-ios{
  color: white !important;
}

// Margins and Paddings 
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-t-xl {
  margin-top: 40px;
}
.n-p{
  padding: 0;
}